* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  font-family: "Poppins", sans-serif;
  color: aliceblue;

  /* Position relative untuk pembungkus position absolute */
  position: relative;

  background-image: url(../assets/bg.jpg);
  background-size: cover;
  background-position: center;
}

section {
  display: grid;
  place-items: center;
  position: absolute;
  inset: 0;
}

section main {
  padding: 100px 10px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 100%;
  max-width: 600px;
  justify-content: center;
  align-items: center;
}

section main img {
  width: 100px;
  border-radius: 50%;
  aspect-ratio: 1;
  box-shadow: 0 0 5px 1px gray;
}

section main h2 {
  font-weight: 800;
  color: white;
  text-shadow: 0 0 1px transparent, 0 1px 2px rgba(0, 0, 0, 0.9);
}

section main a {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: center;
  border: 2px solid white;
  padding: 10px;
  color: white;
  text-decoration: none;
  border-radius: 10px;
  gap: 30px;
  transition: 0.3s;
}

section main a:hover {
  background-color: white;
  color: black;
}

section main a i {
  font-size: 1.5em;
}

section footer p {
  color: white;
  font-size: 0.8rem;
  padding: 20px;
  text-shadow: 0 0 1px transparent, 0 1px 2px rgba(0, 0, 0, 0.9);
}

section footer p a {
  color: white;
  text-decoration: none;
  font-weight: 800;
}
